html,
body,
#root,
.room {
  height: 100vh;
  margin: 0;
  text-align: center;
  font-family: Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  background-color: #0d0d0d;
  color :#fff;
  
  padding: 50px;
}

button {
  height: 80px;
  width: 80px;
  font-size: 16px;
  background-color:#3d3d3d;
  color: rgb(227, 227, 227);
  border-radius: 50%;
  border: #50D167 solid 1px;
  cursor: pointer;
  margin: 0.5rem;
}
button:hover {
  transform: scale(1.1);
}
button:active {
  opacity: 50%;
}
button:focus {
  outline: 0;
}
.display{
    color: #fff;
    border: rgb(0, 151, 45) 1px solid;
    display: inline-block;
    padding: 1rem;
}
.ms {
    color: orange;
}
.reset {
    color: rgb(255, 96, 96);
    background-color: #0d0d0d;
}